body{
    margin: 0;
    padding: 0;
    background-color: teal;
}
header {
    background-color: indianred;
    padding: 15px 0px;
}
header > h1 {
    padding: 0px;
    text-align: center;
}
body > section{
    position: relative;
    padding-top: 50px;
}
#gc{
    position: absolute;
  left: 50%;
 transform: translateX(-50%);
 
}